<br>
<h3 class="heading" align="center"><strong>Log in</strong></h3>
<div class="container">
    <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>

        <div class="form-row justify-content-sm-center">
            <p></p>
            <p>
                <div class="col-lg-8">
                    <%= f.label :email %>
                
                    <%= f.email_field :email, class: "form-control", placeholder: "Enter your email" %>
                </div>
            </p>
        </div>
        <br>
        <div class="form-row justify-content-sm-center">
            <p></p>
            <p>
                <div class="col-lg-8">
                    <%= f.label :password %>
                
                    <%= f.password_field :password, class: "form-control" %>
                </div>
            </p>
        </div>
        <br>
        <div align="center">
            <p>
                <%= f.submit("Login", class:"btn btn-primary btn-md") %>
            </p>
        </div>

    <% end %>

    <div align="center">

        <small><%= link_to "Cancel request and return to articles listing", articles_path %></small>

    </div>
</div> 