<% obj.each do |article| %>

    <div align="center">
    
    <div class="col-sm-7">
    
    <div class="card">
    <div class="card-body">
    
    <div class="article-title">
    
    <%= link_to article.title, article_path(article) %>
    
    </div>
    
    <div class="article-body">
    
    <%= truncate(article.description, length: 100) %>
    
    <div>
    <% if article.categories.any? %>
        <% article.categories.each do |category| %>
            <small><span class="badge badge-warning"><%= link_to category.name.upcase, category_path(category)%></span></small>&nbsp
        <% end %>
    <%end%>
    </div>
    <div class="article-meta-details">
    
    <small>Created by: <%= link_to article.user.username, user_path(article.user)%>,
    
    <%= time_ago_in_words(article.created_at) %> ago,
    
    last updated: <%= time_ago_in_words(article.updated_at) %> ago</small>
    
    </div>
    
    </div>
    </div>
    
    <div class="article-actions">
    <% if logged_in? and (article.user_id == current_user[:id] or current_user.admin?)%>
    
        <%= link_to " Edit ", edit_article_path(article), class: "btn btn-sm btn-primary", style:"margin-bottom:10px" %>
        
        <%= link_to "Delete", article_path(article), method: :delete,
        
        data: { confirm: "Are you sure you want to delete the article?"},
        
        class: "btn btn-sm btn-danger", style:"margin-bottom:10px" %>
    <% end %>
    
    </div>
    
    </div>
    
    </div>
    
    </div>
    <br>
    
<% end %>
