<% if @article.errors.any? %>
    <h4>This action failed for the following reasons: </h4>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>    
            <li> <%= msg %> </li>
        <% end %>
    </ul>

<% end %>



<%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
        <p></p>
        <p>
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
        </div>
        </p>

        <p>
            <%= f.label :description %>
            <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Body of article" %>

        </p>

        <p>
            <%= f.submit class:"btn btn-success btn-lg" %>
        </p>
    
    
<% end %>
